google-api-core==2.25.1
google-api-python-client==2.174.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-auth==2.40.3
googleapis-common-protos==1.70.0
isort==6.0.1
python-dotenv==1.1.1
requests==2.32.4